@import "tailwindcss";
@theme {
    --font-bellefair:  "Bellefair", serif;
    --font-barlow: "Barlow", sans-serif;
    --font-barlow-condensed: "Barlow Condensed", sans-serif;
    --color-newblue-900: hsl(230, 35%, 7%);
    --color-newblue-300: hsl(231, 77%, 90%);
}